.containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 95vw;
  padding: 10px;
}
.imgs {
  position: relative;
  overflow: hidden;
  font-size: 20px;
  padding: 10px;
}
.imgs :hover {
  transform: scale(1.5);
  transition-duration: 1s;
  font-family: sans-serif;
  font-size: 100%;
  color: red;
}
.description {
  position: absolute;
  font-size: 100%;
  left: 30px;
  top: 20px;
}
