.search {
  margin-left: 400px;
  margin-top: 180px;
  width: auto;
  text-align: center;
  display: inline-flex;
  border-radius: 20px;
}
.search-icon {
  background-color: rgb(128, 0, 64);
  border-radius: 0px 10px 10px 0px;
  width: 50px;
  padding: 1%;
}
.search-bar {
  border-left: none;
  border-right: none;
  border-top: none;
  text-align: center;
  width: 500px;
  font-family: monospace;
  border-radius: 10px 0px 0px 10px;
}
